
{% load static %}
<!DOCTYPE html>
<html lang="ru">
  {% include "header.html" %}
	<content>
		<section class="profileSection">
			<div class="profileSection-block">
				<h2 class="sectionTitle">Личный кабинет</h2>
				<div class="profileSection-info">
					<input disabled type="text" value="{{ client.phio }}">
					<input disabled type="tel" value="{{ client.phone }}">
					<input disabled type="email" value="{{ client.email }}">
				</div>
			</div>
		</section>
		<section class="userBookingSection">
			<div class="userBookingSection-block">
				<h2 class="sectionTitle">Ваши бронирования</h2>
				
				{% for reservation in reservations %}
				{% if reservations %}
				<div class="userBookingSection-item">
					<div class="SuccsessBooking-header">
						<h1 class="SuccsessBooking-Title">{{ hotel.name }}</h1>
						<span class="SuccsessBooking-Id">№1975456</span>
					</div>
					<div class="SuccsessBooking-body">
						<div class="SuccsessBooking-img">
							<img src="{% static 'img/hotel1/rooms/room2/room2_1.jpeg' %}">
							<img src="{% static 'img/hotel1/rooms/room2/room2_2.jpeg' %}">
						</div>
						<div class="SuccsessBooking-info">
							<span class="SuccsessBooking-info-text">{{ reservation.room_id.get_type_display }} {{ reservation.room_id.hotel_id.name }}</span>
						</div>
            			<div class="SuccsessBooking-info">
							<span class="SuccsessBooking-info-title">Номер комнаты:</span>
							<span class="SuccsessBooking-info-text">{{ reservation.room_id.room_number }}</span>
						</div>
						<div class="SuccsessBooking-info">
							<span class="SuccsessBooking-info-title">Дата заезда:</span>
							<span class="SuccsessBooking-info-text">{{ reservation.check_in_date|date:"d.m.Y" }}</span>
						</div>
						<div class="SuccsessBooking-info">
							<span class="SuccsessBooking-info-title">Дата выезда:</span>
							<span class="SuccsessBooking-info-text">{{ reservation.departure_date|date:"d.m.Y" }}</span>
						</div>
						<div class="SuccsessBooking-info">
							<span class="SuccsessBooking-info-title">Оплата:</span>
							<span class="SuccsessBooking-info-text">{{ reservation.total_amount }} ₽</span>
						</div>
					</div>
					<form method="post" action="{% url 'cancel_booking' reservation.id %}" onsubmit="return confirm('Вы уверены, что хотите снять бронирование?');">
						{% csrf_token %}
						<a href="/hotel/"><button>Отменить</button></a>
					</form>
				</div>
				{% else %}
					<p>У вас пока нет бронирований.</p>
				{% endif %}
					
				{% endfor %}
			</div>
		</section>
	</content>
	{% include "footer.html" %}

	</body>
</html>