<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Индекс</title>
	{% load static %}
	<style>
		@font-face {
			font-family: "tinkoff";

			src: url("{% static 'fonts/tinkoffsans-medium.woff2' %}") format('woff2'),
			url("{% static 'fonts/tinkoffsans-medium.woff' %}") format('woff');
		} 
	</style>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="shortcut icon" href="{% static 'img/favicon-home.svg' %}" type="image/x-icon">
</head>
<body>
	<header id="classicHeader">
		<div class="logoblock">
			<img src="{% static 'img/icon-home.svg' %}" alt="">
			<h1>
				Комфорт Отель
			</h1>
		</div>
		<div class="loginBlock">
			<a class="loginBlock-phone" href="tel: 8(800)922-22-22">8 (800) 922-22-22</a>
			<a class="loginBlock-link" href="#">войти</a>
		</div>
	</header>
	<content style="display: flex; justify-content: center;">
		<div class="loginSection">
			<h2>Вход</h2>
			{% if messages %}
				{% for message in messages %}
					<div class="error">{{ message }}</div>
				{% endfor %}
			{% endif %}
			
			<form method="post" class="login_form">
				{% csrf_token %}
				<div class="form-group">
					{{ form.username.label_tag }}
					{{ form.username }}
				</div>
				<div class="form-group">
					{{ form.password.label_tag }}
					{{ form.password }}
				</div>
				<a href="/profile_frontend/"><button type="submit">Войти</button></a>
			</form>
			
			<p>Нет аккаунта? <a href="/register_frontend/">Зарегистрируйтесь</a></p>
		</div>
	</content>
</body>
</html>