<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Индекс</title>
	{% load static %}
	<style>
		@font-face {
			font-family: "tinkoff";

			src: url("{% static 'fonts/tinkoffsans-medium.woff2' %}") format('woff2'),
			url("{% static 'fonts/tinkoffsans-medium.woff' %}") format('woff');
		} 
	</style>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="shortcut icon" href="{% static 'img/favicon-home.svg' %}" type="image/x-icon">
</head>
<body>
	<header id="classicHeader">
		<div class="logoblock">
			<img src="{% static 'img/icon-home.svg' %}" alt="">
			<h1>
				Комфорт Отель
			</h1>
		</div>
		<div class="loginBlock">
			<a class="loginBlock-phone" href="tel: 8(800)922-22-22">8 (800) 922-22-22</a>
      {% if user.is_authenticated %}
        <a class="loginBlock-profile" href="{% url 'user_profile' %}">профиль</a>
      {% else %}
        <a class="loginBlock-link" href="{% url 'login' %}">войти</a>
      {% endif %}
		</div>
	</header>
	<content style="display: flex; justify-content: center;">
		<div class="loginSection registerSection">
			<h2>Регистрация</h2>
			<div class="login_form"> 
        <form method="post">
        {% csrf_token %}
			<p>
				{{ form.phio.label_tag }}<br>
				{{ form.phio }}
			</p>
			<p>
				{{ form.phone.label_tag }}<br>
				{{ form.phone }}
			</p>
			<p>
				{{ form.email.label_tag }}<br>
				{{ form.email }}
			</p>
			<p>
				{{ form.username.label_tag }}<br>
				{{ form.username }}
			</p>
			<p>
				{{ form.password1.label_tag }}<br>
				{{ form.password1 }}
			</p>
			<p>
				{{ form.password2.label_tag }}<br>
				{{ form.password1 }}
			</p>
          <div class="login_form-pasport">
			<p>
				{{ form.passport_seria.label_tag }}<br>
				{{ form.passport_seria }}
			</p>
			<p>
				{{ form.passport_num.label_tag }}<br>
				{{ form.passport_num }}
			</p>
          </div>
          <br>
          <!-- <label for="">Дата рождения</label>
          <input type="date" placeholder="Дата рождения" required> -->
          <button type="submit">Зарегистрироваться</button>
        </form>
			</div>
			<p>Уже есть аккаунт? <a href="{% url 'login' %}">Вход</a></p>
		</div>
	</div>
	</content>
</body>
</html>



