<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h2>Добавить новую информацию</h2>
    <form method="post">
        {% csrf_token %}
        <div>Название отеля: {{ form.name }}</div>
		<br>
		<div>Адрес: {{ form.address }}</div>
		<br>
		<div>Контактный номер: {{ form.contact_phone }}</div>
		<br>
		<div>Email: {{ form.email }}</div>
		<br>
		<div>Описание: {{ form.description }}</div>
		<br>
		<div>Рейтинг: {{ form.rating }}</div>
        <button type="submit" class="btn btn-success">Добавить</button>
    </form>
</body>
</html>