<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Подтверждение снятия бронирования</title>
</head>
<body>
    <h1>Подтверждение снятия бронирования</h1>
    <p>Вы уверены, что хотите снять бронирование комнаты {{ reservation.room_number }} с {{ reservation.check_in_date|date:"d.m.Y" }} по {{ reservation.departure_date|date:"d.m.Y" }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Подтвердить</button>
        <a href="{% url 'user_profile' %}"><button type="button">Отмена</button></a>
    </form>
</body>
</html>
