{% load static %}
<!DOCTYPE html>
<html lang="ru">
  {% include "header.html" %} 
<body>
 <content>
  <section id="SuccsessBooking-Section">
   <div class="SuccsessBooking">
    <div class="SuccsessBooking-header">
     <h1 class="SuccsessBooking-Title">Бронирование Успешно</h1>
      <span class="SuccsessBooking-Id">№{{ reservation.id }}</span>
    </div>
    
    <div class="SuccsessBooking-body">
     <div class="SuccsessBooking-img">
        <img src="{{ image.image.url }}" alt="Фото номера">
       <img src="{% static 'img/default_room.jpg' %}" alt="Фото номера по умолчанию">
     </div>
     <div class="SuccsessBooking-info">
      <span class="SuccsessBooking-info-title">{{ room.room_name }}</span>
      <span class="SuccsessBooking-info-title">-</span>
      <span class="SuccsessBooking-info-text">{{ reservation.room_id.get_type_display }}</span>
     </div>
     <div class="SuccsessBooking-info">
      <span class="SuccsessBooking-info-title">Дата заезда:</span>
      <span class="SuccsessBooking-info-text">{{ reservation.check_in_date|date:"d.m.Y" }}</span>
     </div>
     <div class="SuccsessBooking-info">
      <span class="SuccsessBooking-info-title">Дата выезда:</span>
      <span class="SuccsessBooking-info-text">{{ reservation.departure_date|date:"d.m.Y" }}</span>
     </div>
     <div class="SuccsessBooking-info">
      <span class="SuccsessBooking-info-title">Оплата:</span>
      <span class="SuccsessBooking-info-text">{{ reservation.total_amount }} ₽</span>
     </div>
    </div>
    
    <a href="{% url 'hotel' %}"><button>Готово</button></a>
   </div>
  </section>
 </content>
</body>
</html>