<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Индекс</title>
</head>
<body>
	<div>
		<h1>Комфорт Отель</h1>
		<a href="{% url 'login' %}">Логин /</a>
		<a href="{% url 'register' %}">Регистрация</a>
	</div>

	<div>
		<h2>Фильтр</h2>
		<h3>Цена</h3>
		<form method="get" action="" id="price-filter-form">
			<input type="text" name="min_price" placeholder="Минимальная цена" value="{{ request.GET.min_price }}">
			<input type="text" name="max_price" placeholder="Максимальная цена" value="{{ request.GET.max_price }}">
		</form>
		<script>
			const form = document.getElementById('price-filter-form');
			form.querySelectorAll('input').forEach(input => {
				input.addEventListener('change', () => {
					form.submit();
				});
			});
		</script>
	</div>

	<div>
		{% for el in hotel %}
		<div>
			<img src="image.jpg" alt="image">
			<img src="image.jpg" alt="image">
			<img src="image.jpg" alt="image">
		</div>
		<div>
			<div>Название отеля: {{el.name}}</div>
			<div>Адрес отеля: {{el.address}}</div>
			<div>{{el.price}} руб/ночь</div>
			<a href="{% url 'hotel_info' el.id %}"><button>Выбрать</button></a>
		</div>
		{% endfor %}
	</div>
</body>
</html>