<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<div>Личный кабинет</div>
	<div>
		<div>
			<div>Вывести ФИО</div>
			<div>Вывести номера телефона</div>
			<div>Вывести email</div>
			<div>Вывести id</div>
		</div>
	</div>
	<div>Бронирования</div>
	<div>
		<div>
			<div>Вывести название отеля 1</div>
			<div>Вывести название номера</div>
		</div>
		<div>
			<img src="image1.jpg" alt="image1">
			<img src="image1.jpg" alt="image1">
		</div>
		<div>
			<div>Вывести дата заезда</div>
			<div>Вывести дата выезда</div>
		</div>
		<div> 
			<div>Вывести цену</div>
			<button>Отменить</button>
		</div>
	</div>
</body>
</html>