<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div>
		<h1>Комфорт Отель</h1>
		<a href="">Логин /</a>
		<a href="">Регистрация</a>
	</div>

	<div> 
		<div>
			<div>Дата заезда</div>
			<input type="date">
			<div>Дата выезда</div>
			<input type="date">
		</div>
		<div>
			<div>Контактная информация</div>
			<input type="tel" placeholder="Номер телефона" required>
			<br>
			<input type="email" placeholder="email" required>
		</div>
		<div>
			<div>К оплате сейчас:  руб</div>
			<a href=""><button>Оплатить</button></a>
		</div>
	</div>
</body>
</html>