<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Индекс</title>
	{% load static %}
	<style>
		@font-face {
			font-family: "tinkoff";

			src: url("{% static 'fonts/tinkoffsans-medium.woff2' %}") format('woff2'),
			url("{% static 'fonts/tinkoffsans-medium.woff' %}") format('woff');
		} 
	</style>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="shortcut icon" href="{% static 'img/favicon-home.svg' %}" type="image/x-icon">
</head>
<body>
	<header id="classicHeader">
		<div class="logoblock">
			<img src="{% static 'img/icon-home.svg' %}" alt="">
			<h1>
				Комфорт Отель
			</h1>
		</div>
		<div class="loginBlock">
			<a class="loginBlock-phone" href="tel: 8(800)922-22-22">8 (800) 922-22-22</a>
			<a class="loginBlock-link" href="/hotel_frontend/">войти</a>
		</div>
	</header>
	<content id="hotel_info-content">
		<section id="mainHotel">
			<div class="mainHotel-textBlock">
				<div class="mainHotel-textBlockRaiting">
					<!-- Желыте звезды с классом  yellowStar в path -->
					<!-- Серые звезды с классом  grayStar в path -->
					<svg xmlns="http://www.w3.org/2000/svg" fill="" viewBox="0 0 12 12"><path class="yellowStar" d="M5.565 1.041a.492.492 0 0 1 .899 0l1.152 2.693c.07.164.229.276.41.29l2.992.233c.431.034.606.557.278.83l-2.28 1.898a.465.465 0 0 0-.156.469l.696 2.837c.1.41-.357.732-.727.513l-2.561-1.52a.499.499 0 0 0-.507 0L3.2 10.804c-.37.22-.828-.104-.727-.513l.696-2.837a.465.465 0 0 0-.157-.469L.733 5.088c-.328-.274-.154-.797.278-.83l2.991-.234a.486.486 0 0 0 .41-.29l1.153-2.693Z"></path></svg>
					<svg xmlns="http://www.w3.org/2000/svg" fill="" viewBox="0 0 12 12"><path class="yellowStar" d="M5.565 1.041a.492.492 0 0 1 .899 0l1.152 2.693c.07.164.229.276.41.29l2.992.233c.431.034.606.557.278.83l-2.28 1.898a.465.465 0 0 0-.156.469l.696 2.837c.1.41-.357.732-.727.513l-2.561-1.52a.499.499 0 0 0-.507 0L3.2 10.804c-.37.22-.828-.104-.727-.513l.696-2.837a.465.465 0 0 0-.157-.469L.733 5.088c-.328-.274-.154-.797.278-.83l2.991-.234a.486.486 0 0 0 .41-.29l1.153-2.693Z"></path></svg>
					<svg xmlns="http://www.w3.org/2000/svg" fill="" viewBox="0 0 12 12"><path class="yellowStar" d="M5.565 1.041a.492.492 0 0 1 .899 0l1.152 2.693c.07.164.229.276.41.29l2.992.233c.431.034.606.557.278.83l-2.28 1.898a.465.465 0 0 0-.156.469l.696 2.837c.1.41-.357.732-.727.513l-2.561-1.52a.499.499 0 0 0-.507 0L3.2 10.804c-.37.22-.828-.104-.727-.513l.696-2.837a.465.465 0 0 0-.157-.469L.733 5.088c-.328-.274-.154-.797.278-.83l2.991-.234a.486.486 0 0 0 .41-.29l1.153-2.693Z"></path></svg>
					<svg xmlns="http://www.w3.org/2000/svg" fill="" viewBox="0 0 12 12"><path class="yellowStar" d="M5.565 1.041a.492.492 0 0 1 .899 0l1.152 2.693c.07.164.229.276.41.29l2.992.233c.431.034.606.557.278.83l-2.28 1.898a.465.465 0 0 0-.156.469l.696 2.837c.1.41-.357.732-.727.513l-2.561-1.52a.499.499 0 0 0-.507 0L3.2 10.804c-.37.22-.828-.104-.727-.513l.696-2.837a.465.465 0 0 0-.157-.469L.733 5.088c-.328-.274-.154-.797.278-.83l2.991-.234a.486.486 0 0 0 .41-.29l1.153-2.693Z"></path></svg>
					<svg xmlns="http://www.w3.org/2000/svg" fill="" viewBox="0 0 12 12"><path class="yellowStar" d="M5.565 1.041a.492.492 0 0 1 .899 0l1.152 2.693c.07.164.229.276.41.29l2.992.233c.431.034.606.557.278.83l-2.28 1.898a.465.465 0 0 0-.156.469l.696 2.837c.1.41-.357.732-.727.513l-2.561-1.52a.499.499 0 0 0-.507 0L3.2 10.804c-.37.22-.828-.104-.727-.513l.696-2.837a.465.465 0 0 0-.157-.469L.733 5.088c-.328-.274-.154-.797.278-.83l2.991-.234a.486.486 0 0 0 .41-.29l1.153-2.693Z"></path></svg>
				</div>
				<h1 class="mainHotel-textBlockName">Palace Bridge Hotel</h1>

				<div class="mainHotel-textBlockContacts">
					<div><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" focusable="false" style="height: 20px; margin-right: 5px;"><defs><linearGradient id="dsId_NnBf2Akl1N0_linear_1525_533" x1="19.077" y1="11.12" x2="-.445" y2="16.269" gradientUnits="userSpaceOnUse"><stop stop-color="currentColor"></stop><stop offset="1" stop-opacity=".8" stop-color="currentColor"></stop></linearGradient></defs><path fill-rule="evenodd" clip-rule="evenodd" d="m12 24-6.08-5.7a10.702 10.702 0 0 1-3.356-7.784C2.564 5.305 6.79 1 12 1s9.436 4.305 9.436 9.516c0 2.934-1.215 5.776-3.355 7.783L12 24Zm0-18.282a4.718 4.718 0 1 0 0 9.436 4.718 4.718 0 0 0 0-9.436Z" fill="url(#dsId_NnBf2Akl1N0_linear_1525_533)" style="fill: #a0a1a1;"></path><path opacity=".2" d="M7.282 10.436a4.718 4.718 0 1 1 9.436 0 4.718 4.718 0 0 1-9.436 0Z" fill="currentColor" style=" fill: #e2e3e4; "></path></svg>
					Биржевой переулок 2-4<br></div>
					<div><img src="{% static 'img/phone.svg' %}">
					8 (953) 596-96-45<br></div>
					<div><img src="{% static 'img/email.svg' %}">
					Palace-Bridge-Hotel@mail.ru</div>
				</div>
			</div>
			<div class="mainHotel-imageBlock">
				<img src="{% static 'img/hotel1/hotel_1_1.jpg' %}" alt="image">
				<img src="{% static 'img/hotel1/hotel_1_2.jpg' %}" alt="image">
				<img src="{% static 'img/hotel1/hotel_1_3.jpg' %}" alt="image">
				<img src="{% static 'img/hotel1/hotel_1_4.jpg' %}" alt="image">
				<img src="{% static 'img/hotel1/hotel_1_5.jpg' %}" alt="image">
			</div>
		</section>
		<section id="aboutHotel">
			<h2 class="sectionTitle">Об отеле</h2>
			<label>
				В отеле есть конференц-зал. Бесплатный Wi-Fi доступен на всей территории.

				Гости могут посетить ресторан Sevilla, где подают тапас, различные салаты и блюда на гриле. В лобби-баре Bridges можно приятно провести время. В отеле также работают кафе и ночной паб с боулингом. Для детей открыт клуб «Palace KidBridge».
				
				Гости могут отдохнуть у крытого бассейна, посетить русскую баню и сауну, а также позаниматься в фитнес-центре. В массажных кабинетах и салонах красоты работают профессиональные массажисты и косметологи.
			</label>
		</section>
		<section id="roomsAndAmenities">
			<div class="Rooms">
				<h2 class="sectionTitle">Все номера</h2>
				<div class="roomBlock">
					<div class="aboutRoomText">
						<h2 class="roomName">Одноместный номер Standard</h2>
						<div class="roomAmenities"><span><span>•</span>Мини-Бар</span><span><span>•</span>Кондиционер</span><span><span>•</span>Телевизор</span><span><span>•</span>Звукоизоляция</span><span><span>•</span>Сейф в номере</span></div>
						
						<div class="roomPrice">
							<span>5 000 ₽</span>
							<a href="/booking_frontend/"><button>Выбрать</button></a>
						</div>
					</div>
					<div class="roomImg-roomPrice">
						<div class="roomImgs">
							<img src="{% static 'img/hotel1/rooms/room1/room1_1.jpeg' %}">
							<img src="{% static 'img/hotel1/rooms/room1/room1_2.jpeg' %}">
						</div>
					</div>
				</div>
				
				<div class="roomBlock">
					<div class="aboutRoomText">
						<h2 class="roomName">Двухместный номер Standard</h2>
						<div class="roomAmenities"><span><span>•</span>Мини-Бар</span><span><span>•</span>Кондиционер</span><span><span>•</span>Телевизор</span><span><span>•</span>Звукоизоляция</span><span><span>•</span>Сейф в номере</span><span><span>•</span>Фен</span></div>
						
						<div class="roomPrice">
							<span>7 000 ₽</span>
							<a href="/booking_frontend/"><button>Выбрать</button></a>
						</div>
					</div>
					<div class="roomImg-roomPrice">
						<div class="roomImgs">
							<img src="{% static 'img/hotel1/rooms/room2/room2_1.jpeg' %}">
							<img src="{% static 'img/hotel1/rooms/room2/room2_2.jpeg' %}">
						</div>
					</div>
				</div>
				
				<div class="roomBlock">
					<div class="aboutRoomText">
						<h2 class="roomName">Двухместный номер Standard</h2>
						<div class="roomAmenities"><span><span>•</span>Мини-Бар</span><span><span>•</span>Кондиционер</span><span><span>•</span>Телевизор</span><span><span>•</span>Звукоизоляция</span><span><span>•</span>Сейф в номере</span><span><span>•</span>Фен</span></div>
						
						<div class="roomPrice">
							<span>7 000 ₽</span>
							<a href="/booking_frontend/"><button>Выбрать</button></a>
						</div>
					</div>
					<div class="roomImg-roomPrice">
						<div class="roomImgs">
							<img src="{% static 'img/hotel1/rooms/room3/room3_1.jpeg' %}">
							<img src="{% static 'img/hotel1/rooms/room3/room3_2.jpeg' %}">
						</div>
					</div>
				</div>
				
				<div class="roomBlock">
					<div class="aboutRoomText">
						<h2 class="roomName">Двухместный номер люкс</h2>
						<div class="roomAmenities"><span><span>•</span>Мини-Бар</span><span><span>•</span>Кондиционер</span><span><span>•</span>Телевизор</span><span><span>•</span>Фен</span><span><span>•</span>Звукоизоляция</span><span><span>•</span>Сейф в номере</span><span><span>•</span>Чайник или кофеварка</span><span><span>•</span>Балкон или терраса</span></div>
						
						<div class="roomPrice">
							<span>12 000 ₽</span>
							<a href="/booking_frontend/"><button>Выбрать</button></a>
						</div>
					</div>
					<div class="roomImg-roomPrice">
						<div class="roomImgs">
							<img src="{% static 'img/hotel1/rooms/room4/room4_1.jpeg' %}">
							<img src="{% static 'img/hotel1/rooms/room4/room4_2.jpeg' %}">
						</div>
					</div>
				</div>
			</div>
			
			<div class="Amenities">
				<h2 class="sectionTitle">Удобства отеля</h2>
				<div class="amenitiesBlock">
					<label><span>✔</span>Мини-Бар</label>
					<label><span>✔</span>Кондиционер</label>
					<label><span>✔</span>Телевизор</label>
					<label><span>✔</span>Фен</label>
					<label><span>✔</span>Сейф в номере</label>
					<label><span>✔</span>Чайник или кофеварка</label>
					<label><span>✔</span>Звукоизоляция</label>
					<label><span>✔</span>Балкон или терраса</label>
				</div>
			</div>
		</section>
		<section id="commentSection">
			<div class="sendCommentBlock">
				<h2>Оставить комментарий</h2>
				<div class="sendCommentBlock-write">
					<textarea placeholder="Напишите.."></textarea>
					<button>Отправить</button>
				</div>
			</div>
			<div class="CommentsBlock">
				<h2 class="sectionTitle">Отзывы гостей</h2>
				<!-- оценка 5,4 - Никидываем класс green в commentRaiting -->
				<!-- оценка 3 - Никидываем класс yellow в commentRaiting -->
				<!-- оценка 1,2 - Никидываем класс red в commentRaiting -->
				<div class="commentBlock">
					<div class="commentBlock-head"><h3 class="contentSender">Илья</h3>  <div class="commentInfo"> <span class="contentDate">24.04.2005</span> <div class="commentRaiting green"><span class="commentRaiting-text">5</span></div></div></div>
					<p class="commentBlock-body">Бронировал номер на сутки. Обслуживающий персонал приветливый. Мебель нуждается в обновлении. Спа комплекс отличный!</p>
				</div>
				<div class="commentBlock">
					<div class="commentBlock-head"><h3 class="contentSender">Кирилл</h3>  <div class="commentInfo"> <span class="contentDate">24.04.2005</span> <div class="commentRaiting yellow"><span class="commentRaiting-text">3</span></div></div></div>
					<p class="commentBlock-body">Под кроватью почему то был бурят. В остальном всё ок.</p>
				</div>
				<div class="commentBlock">
					<div class="commentBlock-head"><h3 class="contentSender">Сергей</h3>  <div class="commentInfo"> <span class="contentDate">24.04.2005</span> <div class="commentRaiting green"><span class="commentRaiting-text">4</span></div></div></div>
					<p class="commentBlock-body">Все понравилось. Отдельно оценил бы шикарный СПА, особенно понравилось отбеливание....</p>
				</div>
				<div class="commentBlock">
					<div class="commentBlock-head"><h3 class="contentSender">Кирилл</h3>  <div class="commentInfo"> <span class="contentDate">24.04.2005</span> <div class="commentRaiting red"><span class="commentRaiting-text">2</span></div></div></div>
					<p class="commentBlock-body">Ужасный отель, ничего не понравилось.</p>
				</div>
				<div class="commentBlock">
					<div class="commentBlock-head"><h3 class="contentSender">Александр</h3>  <div class="commentInfo"> <span class="contentDate">24.04.2005</span> <div class="commentRaiting red"><span class="commentRaiting-text">1</span></div></div></div>
					<p class="commentBlock-body">Так и не доехал, самолет почему то прилетел в бурятию..</p>
				</div>
			</div>
		</section>
	</content>
	
	<footer class="footer">
		<ul class="menu">
		  <li class="menu__item"><a class="menu__link" href="#">Главная</a></li>
		  <li class="menu__item"><a class="menu__link" href="#">Команда</a></li>
		  <li class="menu__item"><a class="menu__link" href="#">О компании</a></li>
		  <li class="menu__item"><a class="menu__link" href="#">Личный кабинет</a></li>
	
		</ul>
		<p>&copy;2025 Designed by Rothaarige Bestia</p>
	</footer>
</body>
</html>
