<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Индекс</title>
	{% load static %}
	<style>
		@font-face {
			font-family: "tinkoff";

			src: url("{% static 'css/fonts/tinkoffsans-medium.woff2' %}") format('woff2'),
			url("{% static 'css/fonts/tinkoffsans-medium.woff' %}") format('woff');
		} 
	</style>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<header style="background-image: url(https://cosmosgroup.ru/files/slider/85_1744637464.webp);">
		<div class="innerHeader">
			<span>Комфорт Отель</span>
			<div class="loginBlock">
				<a class="loginBlock-phone" href="tel: 8(800)922-22-22">8(800)922-22-22</a>
				<a class="loginBlock-link" href="#">войти</a>
			</div>
		</div>
		<div class="innerTextBlock">
			<h1>Холдинг "Комфорт Отель"</h1>
			<h2>Севис бронирования отелей в Санкт-петербурге</h2>
		</div>
	</header>

	<div>
		<h2>Фильтр</h2>
		<h3>Цена</h3>
		<input type="text" placeholder="Минимальная цена">
		<input type="text" placeholder="Максимальная цена">
	</div>

	<div>
		<div>
			<img src="image.jpg" alt="image">
			<img src="image.jpg" alt="image">
			<img src="image.jpg" alt="image">
		</div>
		<div>
			<div>Название отеля: </div>
			<div>Адрес отеля: </div>
			<div>руб/ночь</div>
			<a href="#"><button>Выбрать</button></a>
		</div>
	</div>
</body>
</html>